* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    max-width: calc(100vw - 1.125rem);
    margin: 0 auto;
}

@media (min-width: 73rem) {
    .content {
        max-width: 73rem;
    }
}