/* ==============================
   Variáveis Globais
   ============================== */

:root {
  /* ---------- Fontes ---------- */
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Work Sans", sans-serif;

  /* ---------- Cores de Texto ---------- */
  --white-color: #f8f4f6;
  --purple-color: #4b367c;
  --dark-color: #1a1a1a;
  --gray-color: #c0c0c0;

  /* ---------- Cores de Fundo ---------- */
  --navbar-background: #121212;
  --hero-background: linear-gradient(to bottom, #1a1a1a 30%, #291e42 70%);
  --dark-gray-background: #242424;
  --dark-background: #1a1a1a;
  --contact-background: linear-gradient(to bottom, #242424 60%, #291e42 100%);
  --footer-background: #291e42;

  /* ---------- Espaçamentos ---------- */
  --section-padding: 3.125rem 0;
  --title-padding: 1.875rem;

  /* ---------- Tamanhos ---------- */
  --section-title-size: 2.5em;

  /* ---------- Bordas ---------- */
  --default-radius: 0.625rem;
}

/* ==============================
   Responsividade
   ============================== */

/* Fundo alternativo para telas médias e grandes */
@media (min-width: 40rem) {
  :root {
    --hero-background: linear-gradient(to right, #1a1a1a, #291e42);
  }
}
