.about {
    background-color: var(--dark-gray-background);
}

.about-content {
    padding: var(--section-padding);
    text-align: center;
    color: var(--white-color);
    font-family: var(--primary-font);
}

.about__title {
    font-size: var(--section-title-size);
    padding-bottom: var(--title-padding);
}

.about__card {
    background-color: var(--dark-color);
    padding: 1rem;
    border-radius: var(--default-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.about__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--default-radius);
}

.about__content {
    text-align: left;
}

.about__subtitle {
    font-size: 2.25em;
}

.about__text {
    margin: 0.625rem 0;
    font-family: var(--secondary-font);
    color: var(--gray-color);
    line-height: 1.5;
    font-size: clamp(0.813em, 4vw, 1em);
}

.about__text--bold {
    color: var(--white-color);
    font-weight: 600;
}

.about__links {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.about__icon {
    background-color: var(--dark-gray-background);
    border: 2px solid var(--purple-color);
    padding: 1rem;
    border-radius: var(--default-radius);
    transition: 0.3s;
}

.about__icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--purple-color);
}

@media (min-width: 40rem) {

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__card {
        max-width: 90%;
        flex-direction: row;
        align-items: center;
    }

    .about__img {
        max-width: 50%;
    }

    .about__subtitle {
        font-size: clamp(1.5em, 3vw, 2.25em);
    }

    .about__text {
        font-size: clamp(0.625em, 1.6vw, 1em);
    }
}

@media (min-width: 80rem) {

    .about__card {
        max-width: 80%;
    }

    .about__text {
        margin: 1.25rem 0;
    }

    .about__icon {
        margin-top: 0.625rem;
    }
}