/* ==============================
   Footer Section (Mobile First)
   ============================== */
.footer {
  background-color: var(--footer-background);
}

/* ---------- Conteúdo do Rodapé ---------- */
.footer-content {
  padding: 3.125rem;
  text-align: center;

  color: var(--white-color);
}
